---
import { Colors } from "@utils/colors";
import type { Product } from "@lib/interfaces/product";

const { product } = Astro.props as { product: Product };

const [whole, decimal] = product.priceProduct.toFixed(2).split(".");
---

<div
  style={`background-color: ${Colors.secondaryBlush};`}
  class="hover:scale-105 transition-transform duration-300 flex flex-col w-full h-full"
>
<a href={`/product/${product.idProduct}`} class="flex flex-col h-full">
  <div class="w-full aspect-square bg-white">
    <img
      src={product.imgProduct}
      alt={product.nameProduct}
      class="w-full h-full object-cover"
      transition:name={`img-product-${product.idProduct}`}
    />
  </div>
    <div class="p-2 md:p-4 flex flex-col flex-1">
      <div class="flex-grow">
        <p class="p-base my-2 overflow-hidden line-clamp-2">
          {product.nameProduct}
        </p>
      </div>
      <h2 class="text-gray-900 overflow-hidden">
        ${whole}<span class="text-[10px] md:text-[14px] ml-[1px]"
          >.{decimal}</span
        >
      </h2>
    </div>
  </a>
</div>
